body {
    background-color: black;    
    color: #F6F6F6; 
}

strong{
    color: #22d4fd;
}

img {
    width: 200px;
    
}

figure.foto.jpg img {
    border: #F6F6F6;
}

img:hover {
    size: 120%;
    border: 8px solid white;
    transition: 2s;
}

a:hover {
    text-decoration: underline;
    color: white;
    font-size: 150%;
    transition: 2s;
}
 

    

